html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.app-container {
    width: 1300px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-flex {
    flex: 1;
    padding: .5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}