.app-container {
    width: 1600px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-flex {
    flex: 1;
    padding: .5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}