.app-button {
    font-family: $fontPrimary;
    background-color: transparent;
    border: 1px solid $colorLight;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 1px;
    font-size: .9rem;
    color: $colorLight;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

.app-button:hover {
    color: $colorPearl;
    background-color: $colorDeco;
    border: 1px solid $colorDeco;
  
}