/* styles for the app header */

.app-header {
 width: 100%;
 height: 100px;
 background-color: $colorBackground;
 display: flex;
 align-items: center;
 .app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
}