$colorPearl: rgb(252, 246, 246);
$colorLight: #999999;
$colorDarker: #777777;
$colorDarkest: #222222;
$colorDark: #726d6d;
$colorDeco: rgb(250, 170, 58);
$colorBackground: rgba(247,247,247,.8);


$fontPrimary:'Open Sans', 'Helvetica', sans-serif;
$fontSecondary: 'Nanum Gothic', sans-serif;
$fontDeco: 'Satisfy', cursive;

